[submodule "lib/vendor/MooEditable"]
	path = lib/vendor/MooEditable
	url = git://github.com/angelsk/mooeditable.git
[submodule "lib/vendor/Datepicker"]
	path = lib/vendor/Datepicker
	url = git://github.com/angelsk/mootools-datepicker.git
