[submodule "lib/vendor/MooEditable"]
	path = lib/vendor/MooEditable
	url = git://github.com/angelsk/mooeditable.git
[submodule "lib/vendor/Datepicker"]
	path = lib/vendor/Datepicker
	url = git://github.com/angelsk/mootools-datepicker.git
[submodule "lib/vendor/mooRainbow"]
	path = lib/vendor/mooRainbow
	url = git://github.com/angelsk/mooRainbow.git
[submodule "lib/vendor/Autocompleter"]
	path = lib/vendor/Autocompleter
	url = git://github.com/angelsk/mootools-autocompleter.git
